@use '@angular/material' as mat;

@include mat.core();

$primary-light: mat.define-palette(mat.$indigo-palette);
$accent-light: mat.define-palette(mat.$pink-palette, A200, A100, A400);

$light-theme: mat.define-light-theme(
  (
    color: (
      primary: $primary-light,
      accent: $accent-light,
    ),
  )
);

@include mat.all-component-themes($light-theme);

:root {
  --active: #3485ee;
}

html,
body,
im-root,
ng-component {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  margin: 0;
}

html,
body {
  height: 100%;
}

.mat-calendar-controls {
  margin: 0 !important;
}
